### Java ###
# Compiled class file
*.class

# com.yuriysurzhykov.camellia.utils.Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

.idea/
Camellia.iml

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar